<section id="home" class="navtabcontent">
    <!-- about us section -->
    <div id="aboutus" class=" dark:bg-txt-8" >
        <div class="px-16 py-12 md:p-0 grid grid-cols-8   ">
            <!-- sidenav -->
            <div class='md:py-32 lg:ml-12 invisible md:visible max-h-0 md:max-h-560'>
                <div class="md:border-r-2 md:border-txt-3 md:border-opacity-50">
                    <a href="#aboutus" class="block py-2  text-txt-1 dark:text-txt-2  text-xsmall ">
                        About us
                    </a>
                    <a href="#interiit" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall">
                        Inter-IIT Tech
                    </a>
                    <a href="#announcements" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall">
                        Announcements
                    </a>
                    </div>
            </div>

            <div class='col-start-1 col-span-9 md:col-start-2 md:col-span-8  '>

            
                <div class="flex flex-row">
                   <div class="ml-0 md:ml-8 flex flex-col md:mt-20 lg:mt-28 mb-4 lg:mb-1" >
                    
                           <div class="text-2xl md:text-3xl lg:text-4xl text-txt-1 dark:text-txt-2 font-body1 font-semibold" >
                            We are Technical Board <br><span class="text-txt-3">at</span> IIT Guwahati 
                           </div>
                       <br>
                       <div class="text-txt-1 font-body2 text-xs md:text-sm lg:text-base text-left dark:text-white" >With the motto of promoting technology, creativity and innovation, 
                        the Technical Board understands and believes that this fast 
                        changing and evolving era is the perfect time to live in and 
                        step-up to shape our future by looking at the world as our 
                        playground!
                        <br><br>
                        Many students have that creative urge in them ready to shoot 
                        out at any moment. They have dreamt and believed that they 
                        were supposed to do something amazing, special, important and 
                        outstanding and they were destined for success! Those who believe
                        that they can innovate, create and build their own future, Technical 
                        Board provides them with both the opportunity and support to help them 
                        leave their mark, make a difference and leave their legacy by choice and not by chance!
                       </div>
                   </div>
   
                   
                   <div class="max-h-0 max-w-0 md:max-h-560 invisible md:visible md:min-w-2/5 mt-15  mr-0">
                       <img src="/tech/images/aboutusimage.svg" class="max-h-560 invisible md:visible dark:invisible dark:max-h-0" style="float: right;">
                       <img src="/tech/images/interiitdark.svg" class="max-h-0 invisible dark:invisible md:dark:visible dark:max-h-560" style="float: right;">
                   </div>
                   </div>

               </div>
        </div>
    </div>

    <!-- inter iit tech section -->
    <div id="interiit" class=" bg-txt-8" >
        <div class="px-16 py-12 md:p-0 grid grid-cols-8   " >
            <!-- sidenav -->
            
            <div class='md:py-32 lg:ml-12 invisible md:visible max-h-0 md:max-h-560'>
                <div class="md:border-r-2 md:border-yellow-400 md:border-opacity-50">
                    <a href="#aboutus" class="block py-2  text-txt-2 opacity-50 text-xsmall ">
                        About us
                    </a>
                    <a href="#interiit" class="block py-2  text-txt-2  text-xsmall">
                        Inter-IIT Tech
                    </a>
                    <a href="#announcements" class="block py-2  text-txt-2 opacity-50 text-xsmall">
                        Announcements
                    </a>
                    </div>
            </div>


            <div class='col-start-1 col-span-9 md:col-start-2 md:col-span-8  '>

                
                    
                     
                 <div class=" flex flex-row">
                    <div class=" ml-0 md:ml-8 flex flex-col md:mt-20 lg:mt-28 mb-4 lg:mb-1" >
                        
                        <div class="flex flex-row">
                            <div class="py-3">
                                <img src="/tech/images/interiitlogo.svg" alt="">
                            </div>
                            <div class=" text-xl md:text-2xl lg:text-3xl text-txt-2 font-body1 font-semibold text-left ml-3">
                                PANDEMIC, PARANOIA AND <span style="color: #48BACA;">POSSIBILITIES</span>
                            </div>
                        </div> 
                        <br>
                        <div class="text-txt-2 font-body2 text-xs md:text-sm lg:text-base text-left" >Inter IIT Tech Meet started as a PAN IIT Student Initiative; with the first-ever 
                            Inter IIT being held at IIT Kanpur in the year 2012, and over the years has 
                            morphed into the most awaited Tech Meet across all IITs. Over the years, 
                            Inter IIT Tech Meet has become a syndicate of the brightest minds to 
                            create and solve innovative solutions that envision
                            a Progressive India.<br><br>“Technology is best when it is dipped with empathy.”
                        </div>
                    </div>
    

                    <div class="max-h-0 max-w-0 md:max-h-560 invisible md:visible md:min-w-2/5 mr-3 -mt-1">
                        <img src="/tech/images/interiitimage.svg" class="" style="float: right;">
                    </div>
                    </div>

                </div>

                
            </div>

        </div>
    </div>

    <div id="announcements" class="bg-land-trial dark:bg-land-trial-dark">
        <div class="grid grid-cols-8 justify-end" >
            <!-- sidenav -->
            <div class='md:py-32 lg:ml-12 invisible md:visible max-h-0 md:max-h-560'>
                <div class="md:border-r-2 md:border-txt-3 md:border-opacity-50">
                    <a href="#aboutus" class="block py-2  text-txt-1 dark:text-txt-2  text-xsmall ">
                        About us
                    </a>
                    <a href="#interiit" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall">
                        Inter-IIT Tech
                    </a>
                    <a href="#announcements" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall">
                        Announcements
                    </a>
                    </div>
            </div>

            <!-- announcements and posts -->
            <div class=' md:ml-12 col-start-2 col-span-6 md:col-start-2 md:col-span-4 py-29 ' >

                <div class="md:border-r-2 md:border-txt-3 "> 
                    <div class=" text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 font-semibold">
                        Announcements <span class="text-txt-3">and</span> Posts
                    </div>

                    <div class="md:ml-0 bg-txt-1 dark:bg-txt-6 w-40p  md:w-50.5 md:mr-0 px-1  my-3 py-4 flex flex-row justify-evenly items-center text-xs md:text-sm rounded-md">
                        <button href="#" class="text-txt-2 cursor-pointer " id="toggle_view" onclick="myFunction1('important')" >Featured</button>
                        <button href="#" class="text-txt-2 cursor-pointer " id="toggle_view" onclick="myFunction1('all')">View All</button>
                    </div>
                   <!-- card -->
                   <div class="gap-y-4 overflow-auto maxh">
                    
                    <% announcements.forEach(announcement=>{ %>

                      <!-- card container -->
                    <div class="relative max-w-lg shadow-lg rounded overflow-hidden  sm:flex search-in-ann">
                        <div class="h-48 sm:h-auto sm:w-48 md:w-64 flex-none bg-cover bg-center 
                            rounded rounded-t sm:rounded sm:rounded-l text-center overflow-hidden" 
                            style="background-image: url('uploads/announcement/<%=announcement.pic%>')">
                        </div>
                        
                        <div class="h-64 pt-8  pr-4 pl-4 font-body2 text-txt-7 gap-y-3 dark:bg-txt-7 rounded-r-lg">
                            <div class="text-xsmall md:text-sm dark:text-txt-2">
                                <%= announcement.club %> <br>
                                <span class="font-bold text-txt-7 dark:text-txt-3 mt-1" >
                                    <%= announcement.title %>
                                </span>
                                <span class=" mt-1 hidden" >
                                    <%= announcement.important %>
                                </span>
                            </div>
                        
                            <div class="text-xs md:text-xsmall dark:text-txt-2 mt-2  text-left">
                                <%= (announcement.description.length> 70 ? (announcement.description.substring(0, 250) + "...") :
                                announcement.description) %>
                            </div>

                            <div class="absolute bottom-0 right-0  ">
                                <a href="<%= announcement.link %>" target="_blank">
                                    <img src="/tech/images/anncardarr.svg" alt="" class="p-2">
                                </a>
                            </div>
                        </div>

                    </div>
                    <br>
                    <% }) %>  
            </div>
          </div>
        </div>

        <!-- circulars and notcies -->
        <div class='pb-10 md:pb-4 md:ml-6 md:mr-3 col-start-2 col-span-6 md:col-start-6 md:col-span-3 md:py-29 ' >
            <div class=" text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 font-semibold">
                Circulars <span class="text-txt-3">and</span> Notice
            </div>

            <div class="md:ml-0 bg-txt-1 dark:bg-txt-6 w-40p  md:w-50.5 md:mr-0 px-1  my-3 py-4 flex flex-row justify-evenly items-center text-xs md:text-sm rounded-md">
                <button href="#" class="text-txt-2 cursor-pointer " id="toggle_view" onclick="myFunction3('important')" >Featured</button>
                <button href="#" class="text-txt-2 cursor-pointer " id="toggle_view" onclick="myFunction3('all')">View All</button>
            </div>

            <div class="overflow-auto maxnotice">
                <!-- card container -->
                <% notices.forEach(notice=>{ %>
                    <div class="my-3 py-6 px-4 shadow-lg rounded dark:bg-txt-7 search">
                        <div class="my-2 text-xsmall md:text-sm dark:text-txt-2">
                            <%= notice.title %> <br>
                            <span class="font-bold text-txt-7 dark:text-txt-3 mt-4" >
                                <% if(notice.path.indexOf("https://")==-1) { %>
                                    <a href="/tech/notices/<%=notice.id%>" target="_blank"><%= (notice.description.length> 70 ? (notice.description.substring(0, 70) + "...") :
                                        notice.description) %></a>
                                    <% } else { %>
                                        <a href="<%=notice.path%>" target="_blank"><%= (notice.description.length> 70 ? (notice.description.substring(0, 70) + "...") :
                                            notice.description) %></a>
                                        <% } %>
                            </span>
                            <span class=" mt-1 hidden" >
                                <%= notice.important %>
                            </span>
                        </div>
                        <div class="text-xs md:text-xsmall dark:text-txt-2 mt-2  text-left">
                            <%= notice.creation.getDate()+' / '+(notice.creation.getMonth()+1)+' / '+notice.creation.getFullYear() %>
                        </div>
                    </div>
                <% }) %> 
            </div>
            
            
        </div>
    </div>
    </div>  
</section>