<%- include("../partials/header.ejs") %>
    <h1 class="text-3xl text-black pb-6">Members of Technical Board 
    </h1>
    <div class="mt-6">
        <a class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" href="/tech/admin/team/add">Add
            Members</a>
        <form style="float: right;" action="/tech/admin/team/find/" method="POST" enctype="multipart/form-data">
            <select class="w-50 h-10 pl-3 pr-6 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline" name = "dropdown">
                <option value = "" selected>-Tenure-</option>
                <% tyear.forEach((years) => { %>
                    <option value= "<%= years.year %>"> <%= years.year %> </option>
                <% }) %>
            </select>
            <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit"> Submit </button> 
        </form>
    </div>

    <div class="w-full mt-6 overflow-auto">
        <div class="bg-white">
            <table class="min-w-full leading-normal">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Name
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Position
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Email
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            LinkedIn
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Contact
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Tenure
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Priority No.
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Edit
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody class="text-gray-700" id="myMenu">

                    <% members.forEach((member, i)=>{ if(i%2){ %>
                        <tr class="bg-gray-200">
                            <%}else{%>
                                <tr>
                            <%}%>
                            <td class="text-left py-3 px-4">
                                <div class="flex items-center">
                                    <div class="flex-shrink-0 w-10 h-10">
                                        <img class="w-full h-full "
                                            src="/tech/uploads/team/<%=member.image %>" alt="" />
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            <%= member.name %>
                                        </p>
                                    </div>
                                </div>
                            </td>

                            <td class="text-left py-3 px-4">
                                <%= member.post %>
                            </td>

                            <td class="text-left py-3 px-4">
                                <%= member.email %>
                            </td>

                            <td class="text-left py-3 px-4">
                                <%= member.linkedin %>
                            </td>

                            <td class="text-left py-3 px-4">
                                <%= member.contactNo %>
                            </td>

                            <td class="text-left py-3 px-4">
                                <%= member.year %>
                            </td>

                            <td class="text-left py-3 px-4">
                                <%= member.priority_number %>
                            </td>

                            <td class="text-left py-3 px-4">
                                <a class="hover:text-blue-500"
                                    href="/tech/admin/team/<%=member.id%>">Edit</a>
                            </td>

                            <td class="text-left py-3 px-4">
                                <form class="mx-2" action="/tech/admin/team/<%=member.id%>?_method=DELETE"
                                    method="POST"><button class="hover:text-red-500">Delete</button></form>
                            </td>
                        </tr>
                        <% }) %>


                </tbody>
            </table>
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>